@font-face {
  font-family: "Gotham Pro Regular";
  src: url("@/assets/fonts/Gotham Pro Regular.ttf");
  font-weight: normal;
}

$background: #353638;
$background-light: #696969;
$text-color-dark: #9e9e9e;
$text-color: white;

$md: 768px;
$lg: 1024px;
$sm: 320px;
